<!--
  Generated template for the FilmsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      Films
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let film of filmes">
    <ion-list-header>
      {{ film.film.title | uppercase }}
    </ion-list-header>

    <ion-item *ngFor="let actor of film.actores">
      <ion-avatar item-start>
        <ion-icon name="person"></ion-icon>
      </ion-avatar>
      <h2>{{ actor.name | uppercase }}</h2>
      <h3>{{ actor.hair_color}}</h3>
      <p>{{ actor.gender}}</p>
      <button ion-button (click)="openActor(actor)">Informacion del Actor</button>
    </ion-item>
  </ion-list>
</ion-content>
