<!--
  Generated template for the ActorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Actor</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeActor()">Cerrar</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
<ion-card>
  <ion-card-header>
      {{ actor.name }}
  </ion-card-header>

  <ion-card-content>
   
    <ion-badge> Cumpleaños: </ion-badge><p> {{ actor.birth_year }} </p>
    <ion-badge> Genero: </ion-badge><p> {{ actor.gender }} </p>
    <ion-badge> Color de CAbello: </ion-badge><p> {{ actor.hair_color }} </p>
    <ion-badge> Altura: </ion-badge><p> {{ actor.height }} </p>
    <ion-badge> Peso: </ion-badge><p> {{ actor.mass }} </p>  
    <ion-badge> Color de Piel: </ion-badge><p> {{ actor.skin_color }} </p>
    <ion-navbar>
      <ion-buttons end>
        <button ion-button (click)="closeActor()">Cerrar</button>
        </ion-buttons>
    </ion-navbar>
    
  </ion-card-content>
  
</ion-card>

</ion-content>
