<ion-header>
  <ion-navbar>
    <ion-title>
      Pagina de inicio
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding text-center>
  <ion-spinner *ngIf="prosess" name="bubbles"></ion-spinner>
  <button *ngIf="!prosess" block ion-button (click)="verFilms()">Ver Films</button>

</ion-content>
